.bg-green{
    background-color: rgb(199, 238, 199);
}

.bg-gray{
    background-color: rgb(241 240 232);
}

.form-control{
    /* border: 2px solid rebeccapurple; */
    border-radius: 40px;
    padding: 10px 50px;
}

input[placeholder="Search"] {
    background-color: #f8f9fa; /* Light gray background */
    color: #212529; /* Text color */
}