.header{
    display: flex;
    justify-content: center;

}

.box{
    border: 2px solid rebeccapurple;
    border-radius: 20px;
}

.info{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.business-info{
    width: 400px;
}

.review-stars{
    color: gold;
    letter-spacing: 2px;
}